* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.top-section, .bottom-section {
    background: rgb(63,94,251);
    background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}