.projects-section {
    background-color: white;
    color: black;
}

.projects {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto;
    width: 80%;
    align-items: center;
}

.projects .project-img {
    width: 100%;
}

.projects .project-img:hover {
    border: 5px solid black;
    padding: 20px;
    opacity: 50%;
}

.projects .tech-img{
    width: 30px;
}

.projects .tech {
    display: flex;
}

.projects h2 {
    margin-top: 0;
}

.projects a {
    color: blue;
}

.projects h4 {
    margin: 5px;
    font-size: 15px;
}

.projects h3 {
    text-decoration: underline;
}

@media (max-width:1500px) {
    .projects h4 {
        font-size: 14px;
    }
}

@media (max-width:1300px) {
    .projects {
        width: 90%;
    }
    .projects h3 {
        font-size: 18px;
        margin: 0px;
    }
    .projects ul {
        margin-top: 0px;
    }
    .projects h2 {
        margin-bottom: 10px;
    }
}

@media (max-width: 1100px) {
    .projects {
        width: 80%;
        display: block;
        text-align: center;
    }
    .projects .tech {
        justify-content: center;
        padding-bottom: 50px;
    }
    .projects h2 {
        margin-top: 30px;
    }
    .projects h4 {
        font-size: 18px;
    }
    .projects h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

@media (max-width:700px) {
    .projects {
        width: 90%;
    }
}





